* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bona Nova', serif; 
    font-weight: normal;
}
.wrapper {
    width: 70%;
    margin: auto;
}
.header-wrapper {
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-icon:not(:last-child) {
    margin-right: 55px;
}
/* intro */
.intro {
    height: 90vh;
    background-color:#4FBFA5;
    padding: 25px 0 60px;
}
.intro-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    margin-bottom: 45px;
}
.nav-link {
    text-decoration: none;
    color:white;
    font-size: 18px;  
    font-style: italic;
}
.nav-link:last-child {
    background-color:white;
    padding: 10px 50px;    
    color: black;
}
.intro-info {
    display: flex;
    justify-content: space-between;
    color:white;
}
.intro-img {
    width: 60%;
}
.intro-text {
    width: 30%;
    font-style: italic;
    align-items: center;
    padding-top: 80px;
}
.intro-title {
    font-weight: 400;
    font-size: 48px;
}
.intro-descr {
    font-size: 14px;
    margin: 40px 0;
}
.intro-btn {
    padding: 15px 25px;
    background-color:#00868A;
    text-transform: uppercase;
    border: none;
    outline: none;
    color:white;
    font-style: italic;
    font-family: 'Bona Nova', serif;
}
/* products */
.actual-products {
    padding: 120px 0;
}
.actual-products-title {
    text-align: center;
    color:#00868A;
    font-style: italic;
    font-weight: normal;
    font-size: 48px;
    padding-bottom: 60px;
}
.actual-products-wrapper {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.actual-product-item {
    width: 25%;
    background-color:#00868A;
    margin: 0 10px;
    color:white;
    font-style: italic;
    margin: 0 10px;
}
.actual-product-item-image {
    width: 100%;
}
.actual-product-item-title-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 10px;
}
.new {
    position: absolute;
    margin: 25px;
    padding: 10px;
    font-size: 18px;
    background:#4FBFA5;
    color:white;
}
.frame-img {
    padding-right: 10px;
}

.footer-wrapper {
    width: 70%;
    display: flex;
    justify-content: right;
    text-align: center;
    margin: 0 auto 20px;
    padding: 40px;
    border-radius: 20px;
}